storage:
  dbPath: /opt/mongodb/{{ item.name }}

# where to write logging data.
systemLog:
  destination: file
  logRotate: rename
  path: /usr/local/var/log/mongodb/mongodb-{{ item.name }}.log

# network interfaces
net:
  port: {{item.port}}
  bindIp: 127.0.0.1

replication:
   oplogSizeMB: 128
   replSetName: {{ replSetName }}
